.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #b3d4fc;
  display: flex;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3f51b5;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes running-progress {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(25%); }
  100% { transform: translateX(100%); }
}
